<h1> Daily Mail Ukraine </h1>
<div class="main_buttons">

  <div class="button_to">
   <%= link_to "Render new articles", article_fatch_import_path, class: "waves-effect waves-light btn-small" %>
  </div>

  <div class="button_to">
   <%= link_to "Render new source", article_source_import_path, class: "waves-effect waves-light btn-small" %>
  </div>

  <div class="button_to">
    <% if policy(@articles).create? %>
      <%= link_to 'Create new article', new_article_path, class: "waves-effect waves-light btn-small" %>
    <% end %>
  </div>

  <div class="button_to">
    <% if policy(@articles).update? %>
     <%= link_to "Show all users", users_path, class: "waves-effect waves-light btn-small" %> 
    <% end %>
  </div>

  <div class="button_to">
    <%= link_to "Sing out", destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn-small" %>
  </div>

  <div class="button_to">
  <% if user_signed_in? %>
    <%= link_to 'Edit registration', edit_user_registration_path, class: "waves-effect waves-light btn-small"   %>
  <% else %>
    <%= link_to 'sing in', new_user_registration_path, class: "waves-effect waves-light btn-small" %>
  <% end %>
  </div>
</div>


<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Content</th>
	</tr>
   <% @articles.each do |article| %>
      <td><%= link_to article.title, article_path(article)  %></td>  
      <td><%= article.description %></td>
      <td><%= article.content %></td>
      <% if policy(@articles).update? %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <%end %>
      <% if policy(@articles).destroy? %>
       <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
       <% end %>
    </td>
    </tr>
   <%end %>

</table>

<div class="will_pagin">
    <%= will_paginate @articles,renderer: BootstrapPagination::Rails, previous_label: "Туда", next_label: "Сюда", inner_window: 1, outer_window: 1 %></div>


