
<div class="show_article_page">
<h2 class="super_article"><%= @article.title %></h2>
	
	<div class="page_image">
	  <%= link_to image_tag(@article.image), @article.url if @article.image.attached? %>
	</div>

	<h3>
	  <%= @article.description %>
	</h3>

	<p>
	  <%= @article.content %>
	</p>

	<%= link_to "Source article", @article.url, class: "waves-effect waves-light btn-small" %>
	<%= link_to "Home Page", articles_path, class: "waves-effect waves-light btn-small" %>
	<% if policy(@article).update? %>
		<%= link_to 'Edit', edit_article_path(@article), class: "waves-effect waves-light btn-small" %>
	<%end %>
	
	
</div>