<!DOCTYPE html>
<html>
  <head>
    <title>Dailymail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if signed_in? -%>
  <div class="button_to" style="padding-left: 50%">
   <%= link_to "Home", root_path, class: "waves-effect waves-light btn-small"%>
   <% end -%>
  </div>

    <div class="container">
      <p class="alert"><%= alert %></p>  
      <%= yield %>
    <%= render "layouts/footer" %>
      
    </div>                   


  </body>
</html>
